<div ng-controller="demoController" class="page-container" >

    <div class="search-condition-panel">
        <div class="form-group inline-form-group" style="width: 250px;">
            <label class="form-label">输入框</label>
            <div class="form-wrap-con">
                <div class="form-wrap">
                    <input linkage-input type="text" class="form-control" ng-model="filterParams.input">
                </div>
            </div>
        </div>
        <div class="form-group inline-form-group" style="width: 250px;">
            <label class="form-label">输入框</label>
            <div class="form-wrap-con">
                <div class="form-wrap">
                    <select linkage-select ng-model="filterParams.select" data-style="form-control" data-width="100%" data-live-search="true" data-size="5" >
                        <option value="">请选择</option>
                        <option ng-repeat="selectItem in selectList" value="{{selectItem.key}}">{{selectItem.value}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group inline-form-group" style="width: 425px;">
            <label class="form-label">时间区间</label>
            <div class="form-wrap-con">
                <div class="form-wrap" style="width: 46%;display: inline-block;">
                    <input type="text" class="form-control" ng-model="filterParams.dateStart" max-date="filterParams.dataEnd" datetimepicker format="yyyy-MM-dd">
                </div>
                ~
                <div class="form-wrap" style="width: 46%;display: inline-block;">
                    <input type="text" class="form-control" ng-model="filterParams.dataEnd" min-date="filterParams.dateStart" datetimepicker format="yyyy-MM-dd">
                </div>
            </div>
        </div>
        <div>
            <div class="checkbox-label-item">
                <label class="checkbox-lable" style="font-weight: normal;">
                    <input type="checkbox" name="hobby1" />
                    <span style="vertical-align: middle;line-height: 18px;">跳远</span>
                </label>
            </div>
            <div class="checkbox-label-item">
                <label class="checkbox-lable" style="font-weight: normal;">
                    <input type="checkbox" name="hobby1" />
                    <span style="vertical-align: middle;line-height: 18px;">事件占比</span>
                </label>
            </div>
            <div class="checkbox-label-item">
                <label class="checkbox-lable" style="font-weight: normal;">
                    <input type="checkbox" name="hobby1" />
                    <span style="vertical-align: middle;line-height: 18px;">服务员工数</span>
                </label>
            </div>
            <div class="checkbox-label-item">
                <label class="checkbox-lable" style="font-weight: normal;">
                    <input type="checkbox" name="hobby1" />
                    <span style="vertical-align: middle;line-height: 18px;">事件数量总和</span>
                </label>
            </div>
            <div class="checkbox-label-item">
                <label class="checkbox-lable" style="font-weight: normal;">
                    <input type="checkbox" name="hobby1" />
                    <span style="vertical-align: middle;line-height: 18px;">事件数量</span>
                </label>
            </div>
        </div>
    </div>

    <div style="padding: 20px 10px 0 10px;background-color: #fff;">
        <linkage-table columns="columnsConfig"
                       data="dataList"
                       class="table-border"
                       fetch-data-function="getDataAction"
                       sort-field="isOrderBy"
                       sort-direction="sortDirection"
                       pager-current-num="currentPageNum"
                       has-checkbox="true"
                       checked-list="dataCheckedList"
                       set-table-height="windowHeight-250+(dataList.length==0?50:0)"></linkage-table>
        <linkage-pager response-total-size="responseTotalSize"
                       get-data-function="getDataAction"
                       current-page-num="currentPageNum"
                       current-page-size="selectPageSize"
                       is-simple="false"
                       ng-hide="dataList.length==0"></linkage-pager>
    </div>

</div>