
<!-- 短信审核 -->
<div ng-controller="messageAuditController" class="page-container message-Audit-container mot-board-page" ng-mouseup="otherAreaClosePanel($event)">
	<div class="mot-board-container">
	<!-- 标题 -->
	<div class="msg-Audit-header">
		<span class="msg-Audit-title">MOT短信审核</span>
	</div>    
	
	<!-- 筛选 -->
    <div class="msg-Audit-filter-bl">
        <!-- 普通筛选 -->
		<div class="search-row clear-float">
            <div class="form-group inline-form-group search-item">
                <div class="form-wrap-con no-label">
                    <div class="form-wrap">
                        <input type="text"
                               class="form-control"
                               linkage-input
                               is-search="true"
                               placeholder="输入客户姓名/客户号"
                               ng-model="filterParams.custNo"
                               ng-model-options = "{debounce : 600}">
                        <!--ng-keydown="searchAction($event)"
                               ng-keypress="searchAction($event)"-->
                    </div>
                </div>
            </div>
            <div class="form-group inline-form-group" style="width: 130px;">
                <div class="form-wrap-con no-label">
                    <div class="form-wrap">
                        <select linkage-select ng-model="filterParams.auditStatus" data-style="form-control" data-width="100%" data-size="5" >
                            <option value="">选择审核状态</option>
                            <option value="{{status.key}}" ng-repeat="status in msgAuditStatusDirList track by $index" >{{status.value}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
		<!-- 高级筛选 -->
        <!--筛选部分-->
        <div class="filter-wrap panel-close-ignore">
            <!--筛选按钮-->
            <div class="filter-result-wrap" ng-show="!showPanel">
                <i class="lk-icon lk-icon-arrowD-o filter-down-btn-icon fr" ng-click="openPanel()"></i>
                <div class="filter-null-btn" ng-click="openPanel()" ng-hide="filterList.length>0">
                    <span class="filter-null-btn-text">点击这里开始筛选</span>
                    <i class="lk-icon lk-icon-arrowD-o filter-null-btn-icon"></i>
                </div>
                <div class="filter-list-box">
                    <ul class="filter-list">
                        <li class="filter-list-item filter-list-title">高级筛选 ></li>
                    </ul>
                </div>
       		</div>
			<!--筛选条件 待选择-->
            <div class="filter-panel-wrap" ng-show="showPanel">

                <div class="filter-panel-close-btn" ng-click="closePanel()"><i class="lk-icon lk-icon-arrowU-o" style="font-weight: bold;"></i>收起</div>
                <div class="filter-panel-container" ng-style="{'max-height':windowHeight-200,'overflow':'hidden'}" style="background-color: white;">
					
				<div class="message-Audit-container">
					<!-- 头部信息 -->
					<div class="modal-header">
	 					<span class="modal-title mac-title-text" >高级筛选<i class="lk-icon lk-icon-arrowR-o"></i></span>
			        </div>

					<!-- 主体部分 -->
			        <div class="modal-body main" style="padding-bottom: 70px;" ng-style="{'max-height':windowHeight-320,'overflow-y':'auto'}">
						<div class="mac-body mac-bottom-border">
							<div class="mac-option-title">
								<span class="mac-option-title-text">筛选条件</span>
							</div>

							<div class="form-wrap-con">
								<div class="form-group inline-form-group">
									<span class="mac-option-text">触发时间</span>
						            <div class="form-wrap mac-date-bl">
						                <input type="text" class="form-control mac-input-control" ng-model="filterParams.eventTrgTimeFrom"  datetimepicker   max-date="filterParams.eventTrgTimeTo">
						            </div>
						        
						            <span class="mac-option-text" style="margin-left: 5px">至</span>
						            <div class="form-wrap mac-date-bl" >
						                <input type="text" class="form-control mac-input-control" ng-model="filterParams.eventTrgTimeTo"  datetimepicker  min-date="filterParams.eventTrgTimeFrom">
						            </div>
						        </div>
								<div class="form-group inline-form-group">
									<span class="mac-option-text">处理人</span>
						            <div class="form-wrap mac-input-bl">
						                <input linkage-input type="text" class="form-control mac-input-control" ng-model="filterParams.auditMemberName">
						            </div>
								</div>

								<div class="form-group inline-form-group" >
									<span class="mac-option-text">处理人营业部</span>
								    <div class="form-wrap mac-input-bl" >
										<select  linkage-select ng-model="filterParams.branchNo" data-style="form-control" data-size="5" data-live-search="true"><option value="">请选择</option>
								        <option value="{{dept.orgId}}" ng-repeat="dept in branchList track by $index">{{dept.orgName}}</option>
					    				</select>
									</div>
								</div>
							</div>
						</div>	
					
						<div class="mac-body mac-top-space">			
							
							<div class="mac-option-title">
								<span class="mac-option-title-text">场景&事件</span>
							</div>
							
							<div class="form-wrap-con">
								<div class="form-group inline-form-group">
									<span class="mac-option-text">选择场景</span>
								    <div class="form-wrap mac-input-bl">
										<select  linkage-select ng-model="filterParams.motScene" data-style="form-control" data-size="4">
										<option value="">请选择</option> 
								        <option value="{{scene.key}}" ng-repeat="scene in motSceneList track by $index">{{scene.value}}</option>
					    				</select>
									</div>
								
								
									<div class="mac-img">
										<!--<img src="./img/guanlian_icon.png"/>-->
									</div>

									<span class="mac-option-text">选择事件</span>
									<div class="form-wrap mac-input-bl">
										<select  linkage-select ng-model="filterParams.eventId" data-style="form-control" data-size="4" data-live-search="true">
										<option value="">请选择</option>
									    <option value="{{event.eventId}}" ng-repeat="event in eventList track by $index">{{event.eventName}}</option>
						    			</select>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- 底部按钮 -->
					<div class="modal-footer btn-list">
			            <span class="btn btn-red mac-btn" ng-click="submitFilter()" >保存</span>
			            <span class="btn btn-red btn-outline mac-btn" ng-click="resetFilter()">重置</span>
			       	</div>
				</div>
              	</div>
            </div>
    	</div>	
	</div>
	<!-- 图表 -->
	<div class="msg-Audit-table" >
		<div class="msg-Audit-tableoption" >
			<span class="msg-Audit-tableoption-text msg-item-pointer" ng-click="auditPass();">
				<div class="msg-Audit-img tong-guo-shen-he"></div>
			审核通过</span>
			<span class="msg-Audit-tableoption-text msg-item-pointer" ng-click="auditDeny();">
				<div class="msg-Audit-img wei-tong-guo-shen-he"></div>
			审核不通过</span>
			<span class="msg-Audit-tableoption-text msg-item-pointer" ng-click="exportExcel();">
				<div class="msg-Audit-img dao-chu"></div>
			导出EXCEL</span>
		</div>
		    <div style="background-color: #fff;">
		        <linkage-table columns="msgAuditColumnsConfig"
		                       data="msgAuditDataList"
		                       class="table-border"
		                       fetch-data-function="getMsgAuditDataAction"
		                       sort-field="isOrderBy"
		                       sort-direction="sortDirection"
		                       pager-current-num="currentPageNum"
		                       has-checkbox="true"
		                       checked-list="msgIdList"
		                       set-table-height="windowHeight-310+(msgAuditDataList.length==0?50:0)"></linkage-table>
	            <div class="panel-close-ignore">
	                <linkage-pager response-total-size="responseTotalSize"
	                               get-data-function="getMsgAuditDataAction"
	                               current-page-num="currentPageNum"
	                               current-page-size="selectPageSize"
	                               is-simple="false"
	                               ng-hide="msgAuditDataList.length==0"></linkage-pager>
	            </div>
		    </div>
	</div>
	<template-directive tml-url="./view/mot/messageAuditDenyModal.html"></template-directive>
	</div>
</div>