
<div class="page-container mot-board-page" ng-controller="motHistoryController" ng-mouseup="otherAreaClosePanel($event)">

    <div class="mot-board-container">
        <div class="search-row clear-float">
            <div class="form-group inline-form-group search-item">
                <div class="form-wrap-con no-label">
                    <div class="form-wrap">
                        <input type="text"
                               class="form-control"
                               linkage-input
                               is-search="true"
                               placeholder="输入客户姓名/客户号"
                               ng-model="searchParams.searchNameNum"
                               ng-model-options = "{debounce : 600}">
                        <!--ng-keydown="searchAction($event)"
                               ng-keypress="searchAction($event)"-->
                    </div>
                </div>
            </div>
            <div class="form-group inline-form-group" style="width: 130px;">
                <div class="form-wrap-con no-label">
                    <div class="form-wrap">
                        <select linkage-select style="display: none;" ng-model="searchParams.branchNo" ng-disabled="authority != 'isZb'" ng-change="changeBranch()" data-style="form-control" data-width="100%" data-live-search="true" data-size="5" >
                            <option value="">请选择营业部</option>
                            <option value="{{branchItem.orgId}}" ng-repeat="branchItem in branchList track by $index">{{branchItem.orgName}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group inline-form-group" style="width: 130px;">
                <div class="form-wrap-con no-label">
                    <div class="form-wrap">
                        <select linkage-select ng-model="searchParams.memberId" ng-change="changeMember()" ng-disabled="searchParams.branchNo=='' || (authority != 'isYyb' && authority != 'isZb')" data-style="form-control" data-width="100%" data-live-search="true" data-size="5" >
                            <option value="">请选择处理人</option>
                            <option value="{{memberItem.memberId}}" ng-repeat="memberItem in memberList track by $index">{{memberItem.memberName}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <!--筛选部分-->
        <div class="filter-wrap panel-close-ignore">
            <!--筛选按钮-->
            <div class="filter-result-wrap" ng-show="!showPanel">
                <i class="lk-icon lk-icon-arrowD-o filter-down-btn-icon fr" ng-click="openPanel()"></i>
                <div class="filter-null-btn" ng-click="openPanel()" ng-hide="filterList.length>0">
                    <span class="filter-null-btn-text">点击这里开始筛选</span>
                    <i class="lk-icon lk-icon-arrowD-o filter-null-btn-icon"></i>
                </div>
                <div class="filter-list-box">
                    <ul class="filter-list">
                        <li class="filter-list-item filter-list-title">高级筛选 ></li>
                        <li class="filter-list-item form-group inline-form-group filter-form-item" ng-repeat="filterItem in filterList track by $index">
                            <div class="form-wrap-con filter-form-item-con">
                                <div class="form-wrap">
                                    <div class="btn-group bootstrap-select" ng-class="{'show-tick':filterItem.type == 'multiSelect'}">
                                        <!--其他类型-->
                                        <button style="transition-duration: 0s;" ng-if="filterItem.type == 'select' || filterItem.type == 'dateRange'" type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="filter-form-item-label">{{filterItem.value}}:</span>
                                            <span class="filter-form-item-value" ng-if="filterItem.type == 'input'">{{filterItem.model}}</span>
                                            <span class="filter-form-item-value" ng-if="filterItem.type == 'searchSelect' || filterItem.type == 'select'">{{filterItem.model == ""?'请选择' : (filterItem.model | dictionaryFilter : selectListObj[filterItem.key] : filterItem.keyValue.join(','))}}</span>
                                            <span class="filter-form-item-value" ng-if="filterItem.type == 'dateRange'">{{filterItem.model.join('~')}}</span>
                                            <span class="bs-caret"><span class="caret"></span></span>
                                        </button>
                                        <!--搜索下拉类型按钮-->
                                        <button style="transition-duration: 0s;" ng-click="filterItem.searchParam = ''" ng-if="filterItem.type == 'searchSelect'" type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="filter-form-item-label">{{filterItem.value}}:</span>
                                            <span class="filter-form-item-value" ng-if="filterItem.type == 'input'">{{filterItem.model}}</span>
                                            <span class="filter-form-item-value" ng-if="filterItem.type == 'searchSelect' || filterItem.type == 'select'">{{filterItem.model == ""?'请选择' : (filterItem.model | dictionaryFilter : selectListObj[filterItem.key] : filterItem.keyValue.join(','))}}</span>
                                            <span class="filter-form-item-value" ng-if="filterItem.type == 'dateRange'">{{filterItem.model.join('~')}}</span>
                                            <span class="bs-caret"><span class="caret"></span></span>
                                        </button>
                                        <!--多选下拉类型按钮-->
                                        <button style="transition-duration: 0s;" ng-if="filterItem.type == 'multiSelect'" ng-click="initMultiSelect(filterItem)" type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="filter-form-item-label">{{filterItem.value}}:</span>
                                            <span class="filter-form-item-value">{{filterItem.model == ""?'请选择' : (filterItem.model | dictionaryFilter : selectListObj[filterItem.key] : filterItem.keyValue.join(','))}}</span>
                                            <span class="bs-caret"><span class="caret"></span></span>
                                        </button>
                                        <div class="dropdown-menu open">
                                            <div class="bs-searchbox" ng-if="filterItem.type == 'searchSelect'">
                                                <input type="text" class="form-control" ng-model="filterItem.searchParam" autocomplete="off" aria-label="Search">
                                            </div>
                                            <!--输入框类型-->
                                            <ul ng-if="filterItem.type == 'input'" class="dropdown-menu inner">
                                                <li class="dropdown-input-row">
                                                    <div class="form-wrap">
                                                        <input linkage-input type="text" class="form-control" ng-model="filterItem.modelCopy">
                                                    </div>
                                                </li>
                                                <li class="dropdown-btn-row">
                                                    <span class="text-red" ng-click="confirmFilterChange(filterItem)">确定</span>
                                                </li>
                                            </ul>
                                            <!--日期类型-->
                                            <ul ng-if="filterItem.type == 'dateRange'" class="dropdown-menu inner">
                                                <li class="dropdown-date-row">
                                                    <div class="form-wrap" style="width: 46%;display: inline-block;">
                                                        <input type="text" class="form-control" ng-model="filterItem.modelCopy[0]" max-date="filterItem.modelCopy[1]" datetimepicker format="yyyy-MM-dd">
                                                    </div>
                                                    ~
                                                    <div class="form-wrap" style="width: 46%;display: inline-block;">
                                                        <input type="text" class="form-control" ng-model="filterItem.modelCopy[1]" min-date="filterItem.modelCopy[0]" datetimepicker format="yyyy-MM-dd">
                                                    </div>
                                                </li>
                                                <li class="dropdown-btn-row">
                                                    <span class="text-red" ng-click="confirmFilterChange(filterItem)">确定</span>
                                                </li>
                                            </ul>
                                            <!--下拉类型-->
                                            <ul ng-if="filterItem.type == 'select'" class="dropdown-menu inner">
                                                <li ng-class="{'active':selectItem[filterItem.keyValue[0]] == filterItem.model}" ng-repeat="selectItem in selectListObj[filterItem.key] track by $index" ng-click="confirmFilterSelect(filterItem,selectItem[filterItem.keyValue[0]])"><a>{{selectItem[filterItem.keyValue[1]]}}</a></li>
                                            </ul>
                                            <!--搜索下拉类型-->
                                            <ul ng-if="filterItem.type == 'searchSelect'" class="dropdown-menu inner">
                                                <li class="no-results" ng-if="!filterList || filterList.length==0">没有您搜索的 "{{filterItem.searchParam}}"</li>
                                                <li ng-class="{'active':selectItem[filterItem.keyValue[0]] == filterItem.model}" ng-repeat="selectItem in selectListObj[filterItem.key] | searchFilter : filterItem.keyValue[1] : filterItem.searchParam as filterList" ng-click="confirmFilterSelect(filterItem,selectItem[filterItem.keyValue[0]])"><a>{{selectItem[filterItem.keyValue[1]]}}</a></li>
                                            </ul>
                                        </div>
                                        <!--多选下拉类型-->
                                        <div ng-if="filterItem.type == 'multiSelect'" class="dropdown-menu open" style="max-height: 200px;">
                                            <ul class="dropdown-menu inner">
                                                <li ng-repeat="selectItem in selectListObj[filterItem.key] track by $index" ng-class="{'selected':isInArray(filterItem.modelCopy,selectItem[filterItem.keyValue[0]])}">
                                                    <a href="javascript:;" ng-click="multiSelectAction(filterItem,selectItem[filterItem.keyValue[0]],$event)">
                                                        <span class="bootstrap-select-ok" style="margin-top: 9px;"></span>
                                                        <span style="vertical-align: middle;line-height: 18px;padding-left: 20px;">{{selectItem[filterItem.keyValue[1]]}}</span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="dropdown-btn-row">
                                                <span class="text-red" ng-click="confirmFilterChange(filterItem)">确定</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <i class="lk-icon lk-icon-cancel-o filter-remove-icon" style="margin-left: 7px;" ng-click="removeFilterItemAction($index,filterItem,true)"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <!--筛选条件 待选择-->
            <div class="filter-panel-wrap" ng-show="showPanel">

                <div class="filter-panel-close-btn" ng-click="closePanel()"><i class="lk-icon lk-icon-arrowU-o" style="font-weight: bold;"></i>收起</div>
                <div class="filter-panel-container" ng-style="{'max-height':windowHeight-200,'overflow':'hidden'}" style="background-color: #fff;">
                    <div class="filter-top-box">
                        <div class="filter-top-wrap">
                            <div class="filter-btn-row">
                                <span class="filter-title">已选择条件</span>
                                <div class="btn-list fr">
                                    <span class="btn btn-red" ng-click="validateForm.w5cValidator.formPost(submitFilter,formError)">保存</span>
                                    <span class="btn btn-default" style="background-color: #f8f9fa;" ng-click="resetFilter()">重置</span>
                                </div>
                            </div>
                            <div class="filter-row">
                                <div class="filter-null-row" ng-show="filterList.length == '0'">请从下方勾选条件进行选择</div>
                                <form  role="form" w5c-form-validate="validateOptions" name="validateForm" autocomplete="off" novalidate>
                                    <ul class="filter-form-list">
                                        <!--选中的筛选条件-->
                                        <li class="form-group inline-form-group filter-form-group" ng-repeat="filterItem in filterList track by $index">
                                            <label class="form-label">{{filterItem.value}}</label>
                                            <div class="form-wrap-con input-form-wrap-con" ng-if="filterItem.type == 'input'">
                                                <div class="form-wrap">
                                                    <input linkage-input type="text" class="form-control" name="{{filterItem.name}}" required ng-model="filterItem.model" >
                                                </div>
                                            </div>
                                            <div class="form-wrap-con" ng-if="filterItem.type == 'searchSelect'">
                                                <div class="form-wrap">
                                                    <select linkage-select ng-model="filterItem.model" ng-change="changeFilterSelect(filterItem,false,$index)" name="{{filterItem.name}}" ng-required="filterItem.key!='21'" data-style="form-control" data-width="100%" data-live-search="true" data-size="5" >
                                                        <option value="">请选择</option>
                                                        <option ng-repeat="selectItem in selectListObj[filterItem.key] track by $index" value="{{selectItem[filterItem.keyValue[0]]}}">{{selectItem[filterItem.keyValue[1]]}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-wrap-con" ng-if="filterItem.type == 'select'">
                                                <div class="form-wrap">
                                                    <select linkage-select ng-model="filterItem.model" ng-change="changeFilterSelect(filterItem)" name="{{filterItem.name}}" required data-style="form-control" data-width="100%" data-size="5" >
                                                        <option value="">请选择</option>
                                                        <option ng-repeat="selectItem in selectListObj[filterItem.key] track by $index" value="{{selectItem[filterItem.keyValue[0]]}}">{{selectItem[filterItem.keyValue[1]]}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-wrap-con" ng-if="filterItem.type == 'multiSelect'">
                                                <div class="form-wrap">
                                                    <select linkage-select ng-model="filterItem.model" name="{{filterItem.name}}" required data-style="form-control" data-width="100%" data-size="5" multiple>
                                                        <option ng-repeat="selectItem in selectListObj[filterItem.key] track by $index" value="{{selectItem[filterItem.keyValue[0]]}}">{{selectItem[filterItem.keyValue[1]]}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-wrap-con date-form-wrap-con" ng-if="filterItem.type == 'dateRange'">
                                                <div class="form-wrap" style="width: 46%;display: inline-block;">
                                                    <input type="text" name="{{filterItem.name+'Start'}}" required class="form-control" ng-model="filterItem.model[0]" max-date="filterItem.model[1]" datetimepicker format="yyyy-MM-dd">
                                                </div>
                                                ~
                                                <div class="form-wrap" style="width: 46%;display: inline-block;">
                                                    <input type="text" name="{{filterItem.name+'End'}}" required class="form-control" ng-model="filterItem.model[1]" min-date="filterItem.model[0]" datetimepicker format="yyyy-MM-dd">
                                                </div>
                                            </div>
                                            <i class="lk-icon lk-icon-cancel-o filter-remove-icon" ng-click="removeFilterItemAction($index,filterItem)"></i>
                                        </li>
                                        <!--选中的筛选条件-->
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="filter-bottom-box" ng-style="{'max-height':windowHeight-200-topHeight-12}">
                        <!--可选的筛选条件-->
                        <section class="filter-section" ng-repeat="filterSourceItem in filterSourceList track by $index">
                            <div class="filter-section-title">
                                <span class="filter-section-title-text">{{filterSourceItem.value}}</span>
                                <span class="filter-section-slide" ng-click="filterSourceItem.isShow = !filterSourceItem.isShow">
                                    <i class="lk-icon" ng-class="{'lk-icon-arrowU-o':filterSourceItem.isShow,'lk-icon-arrowD-o':!filterSourceItem.isShow}"></i>
                                </span>
                            </div>
                            <div class="filter-select-content linkage-toggle" ng-show="filterSourceItem.isShow">
                                <div class="filter-select-row">
                                    <div class="checkbox-label-item filter-select-item" ng-repeat="filterCheckItem in filterSourceItem.children track by $index">
                                        <label class="checkbox-lable" style="font-weight: normal;">
                                            <input type="checkbox" ng-model="filterCheckItem.isChecked" ng-change="checkFilterItemAction(filterCheckItem)"/>
                                            <span style="vertical-align: middle;line-height: 18px;">{{filterCheckItem.value}}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--可选的筛选条件-->
                    </div>
                    <!--返回顶部-->
                    <!--<div class="back-to-top" ng-click="sectionToTop()"></div>-->
                    <!--返回顶部 end-->
                </div>

            </div>
        </div>
        <!--筛选部分 end-->

        <div class="table-page-box" style="margin-top: 12px;">
            <linkage-table columns="columnsConfig"
                           data="dataList"
                           class="table-border"
                           fetch-data-function="getDataAction"
                           sort-field="isOrderBy"
                           sort-direction="sortDirection"
                           pager-current-num="currentPageNum"
                           set-table-height="windowHeight-220+(responseTotalSize==0?50:0)"></linkage-table>
            <div class="panel-close-ignore">
                <linkage-pager response-total-size="responseTotalSize"
                               get-data-function="getDataAction"
                               current-page-num="currentPageNum"
                               current-page-size="selectPageSize"
                               is-simple="false"
                               ng-hide="responseTotalSize==0"></linkage-pager>
            </div>

        </div>
    </div>

</div>