/**
 * 
 * @authors joyXie (xiec@linkstec.com)
 * @date    2018-01-04 19:05:25
 * @version 页面共通样式
 */
/****引入全局变量 ****/
/**
 * @Author WangZe (wangze@linkstec.com)
 * @Date 2018/2/26 11:39
 * @Function 全局变量
 **/
/**辅色**/
.fl {
  float: left;
}
.fr {
  float: right;
}
/****共通 样式 ****/
/****没有数据样式****/
/*超出省略号*/
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/******三角形*****/
.dropdown-menu-triangle {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-right: 2px solid #eee;
  border-top: 2px solid #eee;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: -6px;
  left: 50%;
  margin-left: -5px;
}
/****按钮组件样式****/
/****普通文字按钮****/
.btn,
.btn:hover,
.btn:focus,
.btn:active {
  color: #fff;
  background-color: #eeeeee;
  font-size: 12px;
  padding: 0 14px;
  height: 30px;
  line-height: 30px;
  border: none;
  transition-duration: 0.3s;
  outline: none;
  outline: 0;
  /****按钮禁用状态****/
}
.btn.small-btn {
  padding: 0px 10px;
  height: 24px;
  line-height: 24px;
}
.btn span + .lk-icon {
  margin-left: 5px;
}
.btn:hover {
  opacity: .85;
}
.btn.btn-default {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #C7C7D1;
  line-height: 28px;
}
.btn.btn-default.btn-outline {
  color: #333333;
  border: 1px solid #C7C7D1;
}
.btn.btn-blue {
  background-color: #1890FF;
}
.btn.btn-blue:active {
  background-color: #1273cc;
}
.btn.btn-blue.btn-outline {
  color: #1890FF;
  border: 1px solid #1890FF;
}
.btn.btn-orange {
  background-color: #F55F23;
}
.btn.btn-orange.btn-outline {
  color: #F55F23;
  border: 1px solid #F55F23;
}
.btn.btn-yellow {
  background-color: #F5A623;
}
.btn.btn-yellow.btn-outline {
  color: #F5A623;
  border: 1px solid #F5A623;
}
.btn.btn-red {
  background-color: #ed4b4a;
}
.btn.btn-red.btn-outline {
  color: #ed4b4a;
  border: 1px solid #ed4b4a;
}
.btn.btn-outline {
  background-color: #ffffff;
  line-height: 27px;
}
.btn.btn-outline:active {
  background-color: #e4e4e4;
}
.btn.btn-circle {
  width: 18px;
  height: 18px;
  display: inline-block;
  line-height: 18px;
  padding: 0px;
  border-radius: 50%;
}
.btn.disabled,
.btn[disabled] {
  color: #999999;
  border: 1px solid #C7C7D1;
  background-color: #e6e6e6;
  cursor: not-allowed;
  opacity: 1;
  line-height: 28px;
}
.btn.disabled:hover,
.btn[disabled]:hover,
.btn.disabled:active,
.btn[disabled]:active,
.btn.disabled:focus,
.btn[disabled]:focus {
  border: 1px solid #C7C7D1;
  background-color: #e6e6e6;
  cursor: not-allowed;
  opacity: 1;
}
/****普通按钮 按钮组 居中****/
.btn-list {
  text-align: center;
}
.btn-list .btn {
  margin-right: 10px;
}
.btn-list .btn:last-child {
  margin-right: 0px;
}
/***图标按钮***/
/****查询条件****/
.search-condition-panel {
  background-color: #ffffff;
  padding: 30px 10px;
}
.search-condition-panel .btn-list {
  margin-top: 10px;
}
/****tab种类****/
/***块状tab-group***/
.tab-group-block .tab-group-ul {
  overflow: hidden;
}
.tab-group-block .tab-group-ul .tab-group-item {
  border: 1px solid #eeeeee;
  border-right: none;
  float: left;
  padding: 3px 14px;
  cursor: pointer;
  font-size: 12px;
}
.tab-group-block .tab-group-ul .tab-group-item:last-child {
  border-right: 1px solid #eeeeee;
}
.tab-group-block .tab-group-ul .tab-group-item.tab-active {
  background: #1890FF;
  color: #ffffff;
  border-color: #1890FF;
  transition-duration: .1s;
  -web-kit-transition-duration: .1s;
  -moz-transition-duration: .1s;
  -o-transition-duration: .1s;
}
/***中间分割线 tab-group***/
.tab-group-gap .tab-group-ul {
  overflow: hidden;
}
.tab-group-gap .tab-group-ul .tab-group-item {
  border-right: 1px solid #cccccc;
  float: left;
  padding: 0 20px;
  cursor: pointer;
  font-size: 12px;
}
.tab-group-gap .tab-group-ul .tab-group-item:last-child {
  border-right: none;
}
.tab-group-gap .tab-group-ul .tab-group-item.tab-active {
  color: #1890FF;
  transition-duration: .1s;
  -web-kit-transition-duration: .1s;
  -moz-transition-duration: .1s;
  -o-transition-duration: .1s;
}
/***线条分割线 tab-group***/
.tab-group-line {
  border-bottom: 1px solid #eeeeee;
}
.tab-group-line .tab-group-ul {
  overflow: hidden;
}
.tab-group-line .tab-group-ul .tab-group-item {
  float: left;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 14px;
  border-bottom: 1px solid transparent;
}
.tab-group-line .tab-group-ul .tab-group-item:last-child {
  border-right: none;
}
.tab-group-line .tab-group-ul .tab-group-item.tab-active {
  color: #1890FF;
  border-bottom: 1px solid #1890FF;
  transition-duration: .1s;
  -web-kit-transition-duration: .1s;
  -moz-transition-duration: .1s;
  -o-transition-duration: .1s;
}
/****form 表单元素****/
.form-wrap {
  display: inline-block;
  position: relative;
  /**默认输入框**/
  /**下拉框样式**/
  /**输入框、下拉框右边的图标**/
}
.form-wrap .form-control {
  width: 220px;
}
.form-wrap .form-control.disabled,
.form-wrap .form-control[disabled] {
  border: 1px solid #C7C7D1;
  background-color: #e6e6e6;
  color: #999999;
}
.form-wrap .bootstrap-select .dropdown-toggle.disabled,
.form-wrap .bootstrap-select .dropdown-toggle[disabled] {
  border: 1px solid #C7C7D1;
  background-color: #e6e6e6;
  color: #999999;
}
.form-wrap .form-control-icon {
  position: absolute;
  font-size: 14px;
  line-height: 1;
  color: #dcdce3;
  top: 50%;
  right: 10px;
  margin-top: -6px;
  cursor: pointer;
}
/****form 基础组件****/
input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  position: relative;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 0px;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  min-height: 14px;
  min-width: 14px;
}
input[type="checkbox"]:focus {
  outline: none;
  border: 1px solid #e5e5e5;
}
input[type=checkbox]:checked::after {
  content: '';
  top: 3px;
  left: 2px;
  position: absolute;
  vertical-align: middle;
  margin-top: 0;
  background: transparent;
  border: #ed4b4a solid 2px;
  border-top: none;
  border-right: none;
  height: 5px;
  width: 8px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
input[type=checkbox]:checked {
  background: #ffffff;
  border: 1px solid #e5e5e5;
}
input[type="radio"] {
  -webkit-appearance: none;
  position: relative;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 0px;
  background: #fff;
  border: #999 solid 1px;
  border-radius: 50%;
  min-height: 18px;
  min-width: 18px;
}
input[type="radio"]:focus {
  outline: none;
}
input[type=radio]:checked::after {
  content: '';
  top: 5px;
  left: 5px;
  position: absolute;
  vertical-align: middle;
  margin-top: 0;
  background: transparent;
  border: #fff solid 1px;
  border-top: none;
  border-right: none;
  height: 5px;
  width: 8px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
input[type=radio]:checked {
  background: #1890FF;
  border: #fff;
}
input[type="text"]::-ms-clear,
input[type="text"]::-ms-reveal {
  display: none;
}
/****form 表单组合****/
.form-control {
  padding: 4px;
  font-size: 12px;
}
.form-control.dropdown-toggle {
  padding: 0 25px 0 6px;
}
.form-wrap {
  display: inline-block;
  vertical-align: middle;
}
.form-wrap .form-control {
  width: 220px;
  line-height: 16px;
  height: 26px;
}
.form-wrap.small-form-wrap .form-control {
  height: 24px;
  line-height: 12px;
  font-size: 12px;
  width: 100%;
  padding: 3px;
}
.form-group .form-label {
  width: 100%;
  line-height: 26px;
  font-weight: lighter;
  color: #333333;
  margin-bottom: 0px;
}
.form-group .form-wrap {
  width: 100%;
}
.form-group .form-wrap .form-control {
  width: 100%;
}
.form-group.inline-form-group {
  display: inline-block;
}
.form-group.inline-form-group .form-label {
  padding-right: 10px;
  width: 100px;
  float: left;
  text-align: right;
}
.form-group.inline-form-group .form-wrap {
  margin-left: 100px;
  width: auto;
  display: block;
}
.form-group.inline-form-group .form-wrap .form-control {
  width: 100%;
}
.form-group.inline-form-group .form-wrap-con {
  margin-left: 100px;
}
.form-group.inline-form-group .form-wrap-con .form-wrap {
  margin-left: 0px;
}
/****checkbox 或 radio 组****/
.checkbox-label-item {
  display: inline-block;
  margin-right: 10px;
}
.checkbox-lable {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0px;
}
.checkbox-lable .label-name {
  vertical-align: middle;
}
.cursor-pointer {
  cursor: pointer;
}
/***text 文本***/
.text-red {
  color: #FB4240;
  display: inline;
}
.text-blue {
  color: #1890FF;
  display: inline;
  cursor: pointer;
}
/**弹框内容滚动***/
.modal-body {
  overflow-y: auto;
}
.modal-footer {
  text-align: center;
}
/***清除浮动***/
.clear-float:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
/***列表***/
.lk-dropdown {
  z-index: 11;
  overflow: hidden;
}
.lk-dropdown .lk-dropdown-con {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  margin: 0px 3px 3px 3px;
  border-radius: 4px;
}
.lk-dropdown .lk-dropdown-con .dropdown-menu-triangle {
  top: 4px;
}
.lk-dropdown .lk-dropdown-con .lk-dropdown-menu {
  margin-top: 10px;
  overflow-y: auto;
}
.lk-dropdown .lk-dropdown-con .lk-dropdown-menu .lk-dropdown-item {
  height: 30px;
  line-height: 30px;
  padding: 0px 13px;
  cursor: pointer;
}
.lk-dropdown .lk-dropdown-con .lk-dropdown-menu .lk-dropdown-item .checkbox-lable {
  font-size: 12px;
  color: #666666;
}
.lk-dropdown .lk-dropdown-con .btn-dropdown {
  padding: 10px 0px;
  border-top: 1px solid #DBE0EB;
}
.lk-dropdown.lk-select-dropdown .lk-dropdown-con .lk-dropdown-menu .lk-dropdown-item {
  font-size: 12px;
  text-align: center;
}
.lk-dropdown.lk-select-dropdown .lk-dropdown-con .lk-dropdown-menu .lk-dropdown-item:hover {
  color: #1890FF;
}
/***左侧菜单***/
.menu-container {
  background-color: #00122a;
  width: 50px;
  height: 300px;
  position: relative;
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1);
}
.menu-container .menu-first-level {
  white-space: nowrap;
}
.menu-container .menu-first-level .first-level-item .first-level-title {
  color: #A6ADB4;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  overflow: hidden;
}
.menu-container .menu-first-level .first-level-item .first-level-title .first-level-name {
  font-size: 14px;
  margin-left: 12px;
}
.menu-container .menu-first-level .first-level-item .menu-second-level-con {
  display: none;
  position: absolute;
  background-color: #fff;
  top: 20px;
  left: 40px;
  width: 572px;
  min-height: 200px;
  max-height: 100%;
  border-radius: 4px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.menu-container .menu-first-level .first-level-item .menu-second-level-con .menu-second-level-enter {
  overflow: hidden;
  margin-bottom: 10px;
  border-bottom: 1px solid #E5E5E5;
}
.menu-container .menu-first-level .first-level-item .menu-second-level-con .menu-second-level-enter .second-level-enter-item {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}
.menu-container .menu-first-level .first-level-item .menu-second-level-con .menu-second-level-enter .second-level-enter-item .second-level-enter-name {
  color: #333333;
  font-size: 12px;
  cursor: pointer;
}
.menu-container .menu-first-level .first-level-item .menu-second-level-con .menu-second-level-enter .second-level-enter-item .second-level-enter-name:hover {
  color: #1890FF;
}
.menu-container .menu-first-level .first-level-item .menu-second-level-con .menu-second-level .second-level-item .second-level-name {
  float: left;
  color: #999999;
  font-size: 12px;
}
.menu-container .menu-first-level .first-level-item .menu-second-level-con .menu-second-level .second-level-item .menu-third-level {
  margin-left: 100px;
  overflow: hidden;
}
.menu-container .menu-first-level .first-level-item .menu-second-level-con .menu-second-level .second-level-item .menu-third-level .third-level-item {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
}
.menu-container .menu-first-level .first-level-item .menu-second-level-con .menu-second-level .second-level-item .menu-third-level .third-level-item .third-level-name {
  color: #333333;
  font-size: 12px;
  cursor: pointer;
}
.menu-container .menu-first-level .first-level-item .menu-second-level-con .menu-second-level .second-level-item .menu-third-level .third-level-item .third-level-name:hover {
  color: #1890FF;
}
.menu-container .menu-first-level .first-level-item .menu-second-level-con .menu-second-level .second-level-item .menu-third-level .third-level-item.active .third-level-name {
  color: #333333;
}
.menu-container .menu-first-level .first-level-item:hover .first-level-title {
  color: #fff;
}
.menu-container .menu-first-level .first-level-item:hover .menu-second-level-con {
  display: block;
}
.menu-container .collapsed-span {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0px;
  color: #fff;
}
.menu-container .collapsed-span .lk-icon {
  cursor: pointer;
}
.menu-container .collapsed-span .open-icon {
  display: inline-block;
}
.menu-container .collapsed-span .close-icon {
  display: none;
}
.menu-container.collapsed {
  width: 200px;
}
.menu-container.collapsed .menu-first-level .first-level-item .menu-second-level-con {
  left: 190px;
}
.menu-container.collapsed .open-icon {
  display: none;
}
.menu-container.collapsed .close-icon {
  display: inline-block;
}
/***头部导航***/
.header-menu-tab {
  position: relative;
}
.header-menu-tab .menu-show-tab-ul {
  border-bottom: 1px solid #DBE0EB;
  padding: 0px 10px;
  overflow: hidden;
  padding-right: 100px;
}
.header-menu-tab .menu-show-tab-ul .menu-show-tab-item {
  float: left;
  margin-right: 2px;
  height: 30px;
  line-height: 30px;
  color: #666666;
  padding: 0px 10px;
  border: 1px solid #DBE0EB ;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
}
.header-menu-tab .menu-show-tab-ul .menu-show-tab-item .menu-show-tab-name {
  font-size: 14px;
}
.header-menu-tab .menu-show-tab-ul .menu-show-tab-item .close-btn {
  color: #C7C7D1;
  font-size: 12px;
  cursor: pointer;
}
.header-menu-tab .menu-show-tab-ul .menu-show-tab-item .close-btn:hover {
  color: #FB4240;
}
.header-menu-tab .menu-show-tab-ul .menu-show-tab-item.on {
  background-color: #DBE0EB;
  border-color: #DBE0EB;
}
.header-menu-tab .menu-show-tab-ul .menu-show-tab-item.on .menu-show-tab-name {
  color: #333333;
}
.header-menu-tab .menu-control-con {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.header-menu-tab .menu-control-con .controll-btn {
  color: #001E40;
  border: 1px solid #DBE0EB ;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 30px;
  line-height: 30px;
  float: left;
  padding: 0px 10px;
  cursor: pointer;
}
.header-menu-tab .menu-control-con .controll-btn.show-leave-menu {
  margin-right: 2px;
}
/**表单表格样式**/
.form-table-control {
  border-top: 1px solid #DBE0EB;
  border-left: 1px solid #DBE0EB;
}
.form-table-control td {
  height: 40px;
  text-align: center;
  border-bottom: 1px solid #DBE0EB;
  border-right: 1px solid #DBE0EB;
  padding-left: 10px;
  padding-right: 10px;
}
.form-table-control .form-table-title {
  width: 200px;
  background-color: #F1F5F9;
}
/***异常页样式***/
.error-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -189px;
  margin-left: -222.5px;
  width: 445px;
  height: 378px;
  background-image: url("../../img/errorPage/ufo404.png");
  background-size: 208px 214px;
  background-position: 0 72px;
  background-repeat: no-repeat;
  padding-left: 267px;
}
.error-wrap .error-code {
  display: block;
  margin-top: 105px;
  width: 168px;
  height: 102px;
  background-image: url("../../img/errorPage/type404.png");
  background-size: 168px 102px;
  background-repeat: no-repeat;
  background-position: center;
}
.error-wrap .error-title {
  margin-top: 36px;
  font-size: 14px;
  color: #333333;
}
.error-wrap .error-desc {
  margin-top: 10px;
  font-size: 12px;
  color: #999999;
  margin-bottom: 50px;
}
.btn.dropdown-toggle {
  color: #333;
  background-color: #fff;
  border: 1px solid #C7C7D1;
  line-height: 25px;
}
.actions-btn.btn.btn-default {
  color: #333;
  background: #fff;
  border: 1px solid #488FE3;
  padding: 5px 8px;
}
.actions-btn.btn.btn-default:hover {
  background: #488FE3;
  color: #fff;
}
.actions-btn.btn.btn-default:focus {
  background: #488FE3;
  color: #fff;
}
.actions-btn.btn.btn-default:active {
  background: #488FE3;
  color: #fff;
}
/*input加减组件*/
.linkage-input-spiner {
  width: 160px;
  overflow: hidden;
  position: relative;
}
.linkage-input-spiner button {
  padding: 0px;
}
.linkage-input-spiner .input-group-prepend {
  float: left;
  padding: 0px;
  width: 30px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #cccccc;
  cursor: pointer;
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.linkage-input-spiner .input-group-prepend .lk-icon {
  font-size: 14px;
  color: #1890FF;
  text-decoration: none;
}
.linkage-input-spiner .spiner-input {
  margin-left: 30px;
  margin-right: 30px;
  float: initial;
  height: 30px;
  line-height: 30px;
}
.linkage-input-spiner .form-control[type="text"] {
  width: 100%!important;
  border-radius: 0px;
  height: 26px;
  line-height: 16px;
}
.linkage-input-spiner .input-group-append {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 0px;
  line-height: 28px;
  width: 30px;
  text-align: center;
  border: 1px solid #cccccc;
  cursor: pointer;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.linkage-input-spiner .input-group-append .lk-icon {
  font-size: 14px;
  color: #1890FF;
  text-decoration: none;
}
/*覆盖各第三方的样式*/
/*dialog*/
.ui-dialog-content {
  min-width: 260px;
}
/*冒泡样式1*/
.page-ck-dialog.ui-dialog {
  border-color: #F5D0BA;
  border-radius: 2px;
}
.page-ck-dialog .ui-dialog-body {
  padding: 5px;
  background-color: #FFFBEA;
}
.ui-popup-bottom-left .page-ck-dialog .ui-dialog-arrow-a,
.ui-popup-bottom .page-ck-dialog .ui-dialog-arrow-a,
.ui-popup-bottom-right .page-ck-dialog .ui-dialog-arrow-a {
  border-bottom-color: #F5D0BA;
}
.ui-popup-bottom-left .page-ck-dialog .ui-dialog-arrow-b,
.ui-popup-bottom .page-ck-dialog .ui-dialog-arrow-b,
.ui-popup-bottom-right .page-ck-dialog .ui-dialog .ui-dialog-arrow-b {
  border-bottom: 8px solid #FFFBEA;
}
/*颜色选择器*/
.colorpicker-component {
  border: none;
}
.colorpicker-component input.input-lg {
  height: 31px;
  line-height: 31px;
  font-size: 12px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
/*页面样式*/
.page-container {
  padding: 0 12px 12px;
}
