/**
 * @Author WangZe (wangze@linkstec.com)
 * @Date 2018/3/14 10:00
 * @Function 穿梭框样式
 **/
/**
 * @Author WangZe (wangze@linkstec.com)
 * @Date 2018/2/26 11:39
 * @Function 全局变量
 **/
/**辅色**/
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear-float:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.transfer-wrap .transfer-title-box {
  height: 20px;
  width: 100%;
  margin-bottom: 10px;
}
.transfer-wrap .transfer-title-box .transfer-title-item {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #666666;
  float: left;
}
.transfer-wrap .transfer-container .transfer-box {
  height: 100%;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  float: left;
  font-size: 12px;
  color: #666666;
}
.transfer-wrap .transfer-container .transfer-box .transfer-box-header {
  width: 100%;
  height: 33px;
  border-bottom: 1px solid #eeeeee;
}
.transfer-wrap .transfer-container .transfer-box .transfer-box-header .transfer-item {
  margin-bottom: 0;
  font-weight: normal;
  padding: 7.5px 10px;
  cursor: pointer;
}
.transfer-wrap .transfer-container .transfer-box .transfer-box-header .transfer-item input.transfer-checkbox[type="checkbox"] {
  margin-right: 10px;
  vertical-align: middle;
}
.transfer-wrap .transfer-container .transfer-box .transfer-list {
  overflow: auto;
  margin: 5px 0;
}
.transfer-wrap .transfer-container .transfer-box .transfer-list li {
  height: initial;
  line-height: inherit;
}
.transfer-wrap .transfer-container .transfer-box .transfer-list .transfer-item {
  font-weight: normal;
  padding: 5px 10px;
  cursor: pointer;
  height: 28px;
  overflow: hidden;
}
.transfer-wrap .transfer-container .transfer-box .transfer-list .transfer-item.active {
  background-color: #1890FF;
  color: #ffffff;
}
.transfer-wrap .transfer-container .transfer-box .transfer-list .transfer-item.parent-active {
  background-color: #ffffff;
  color: #1890FF;
}
.transfer-wrap .transfer-container .transfer-box .transfer-list .transfer-item.disabled {
  background-color: #e6e6e6;
  color: #999999;
}
.transfer-wrap .transfer-container .transfer-box .transfer-list .transfer-item input.transfer-checkbox[type="checkbox"] {
  margin-right: 10px;
  vertical-align: middle;
}
.transfer-wrap .transfer-container .transfer-box .transfer-list .transfer-item .transfer-delete-btn {
  float: right;
  color: #FB4240;
  font-size: 14px;
}
.transfer-wrap .transfer-container .transfer-box .transfer-list .transfer-item .transfer-item-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.transfer-wrap .transfer-container .transfer-btn-box {
  margin: 0 20px;
  width: 30px;
  height: 100%;
  float: left;
  position: relative;
}
.transfer-wrap .transfer-container .transfer-btn-box .transfer-btn-list {
  height: 90px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -45px;
}
.transfer-wrap .transfer-container .transfer-btn-box .transfer-btn-list li:first-child {
  margin-bottom: 30px;
}
.transfer-wrap .transfer-container .transfer-btn-box .transfer-btn-list li .btn {
  min-width: 30px;
  width: 30px;
  height: 30px;
  padding: 0;
}
