@charset "UTF-8";
/**
 * 
 * @authors joyXie (xiec@linkstec.com)
 * @date    2018-01-17 10:19:46
 * @version table组件
 */
/****table****/
/**
 * @Author WangZe (wangze@linkstec.com)
 * @Date 2018/2/26 11:39
 * @Function 全局变量
 **/
/**辅色**/
.fl {
  float: left;
}
.fr {
  float: right;
}
.table-wrap .sort-img-icon {
  width: 16px;
  height: 12px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}
.table-wrap .sort-img-icon.sort-img-asc-icon {
  background-image: url('../../img/common/asc.png');
}
.table-wrap .sort-img-icon.sort-img-asc-icon.sort-img-asc-icon-active {
  background-image: url('../../img/common/ascOn.png');
}
.table-wrap .sort-img-icon.sort-img-desc-icon {
  background-image: url('../../img/common/desc.png');
}
.table-wrap .sort-img-icon.sort-img-desc-icon.sort-img-desc-icon-active {
  background-image: url('../../img/common/descOn.png');
}
.table-wrap .table-sort-list {
  position: absolute;
  right: 0;
  top: 28px;
  width: 70px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 99;
}
.table-wrap .table-sort-list .table-sort-ul {
  padding: 5px 0;
}
.table-wrap .table-sort-list .table-sort-ul .table-sort-item {
  cursor: pointer;
  padding: 3px 8px;
  background-repeat: no-repeat;
  background-position: left top;
}
.table-wrap .table-sort-list .table-sort-ul .table-sort-item:hover {
  background-color: #fdeded;
}
.table-wrap .table-sort-list .table-sort-ul .table-sort-item:last-child {
  margin-bottom: 0px;
}
.table-wrap .table-sort-list .table-sort-ul .table-sort-item .sort-item-name {
  vertical-align: middle;
}
.table-wrap .table-sort-list .table-sort-ul .table-sort-item .sort-item-name.sort-item-name-active {
  color: #ef5350;
}
.table-wrap .table-border {
  border: 1px solid #e5e5e5;
  border-top: none;
}
.table-wrap .filter-condition-list {
  padding: 10px 20px;
  padding-bottom: 0px;
  border-top: 1px solid #e5e5e5;
  background-color: #fff;
  overflow: hidden;
}
.table-wrap .filter-condition-list .filter-condition-ul {
  overflow: hidden;
}
.table-wrap .filter-condition-list .filter-condition-ul .filter-condition-item {
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  line-height: 28px;
  padding: 0px 5px;
  font-size: 12px;
  color: #333333;
  margin-right: 10px;
  float: left;
}
.table-wrap .filter-condition-list .filter-condition-ul .filter-condition-item .filter-name {
  margin-right: 10px;
}
.table-wrap .filter-condition-list .filter-condition-ul .filter-condition-item .lk-icon-close-o {
  font-size: 12px;
  cursor: pointer;
}
.table-wrap .table-container {
  border-top: none;
  position: relative;
}
.table-wrap .table-container .tableDiv {
  overflow: auto;
}
.table-wrap .table-container .tableDiv.modal-table-div {
  margin-bottom: 0px;
}
.table-wrap .table-container .tableDiv .tr-click-label {
  position: absolute;
  right: 0px;
  width: 10px;
  overflow: hidden;
  transition-duration: 0.5s;
}
.table-wrap .table-container .tableDiv .table {
  background-color: #fff;
  margin-bottom: 0px;
}
.table-wrap .table-container .tableDiv .table tr {
  position: relative;
}
.table-wrap .table-container .tableDiv .table tr:nth-of-type(even) {
  background-color: #FBFAFA;
}
.table-wrap .table-container .tableDiv .table tr td,
.table-wrap .table-container .tableDiv .table tr th {
  height: 24px;
  line-height: 24px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  /*min-width: 120px;max-width: 120px;*/
  padding-right: 20px;
  /*排序三角形*/
}
.table-wrap .table-container .tableDiv .table tr td .sort-area,
.table-wrap .table-container .tableDiv .table tr th .sort-area {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  cursor: pointer;
}
.table-wrap .table-container .tableDiv .table tr td .sort-area .sort-area-label,
.table-wrap .table-container .tableDiv .table tr th .sort-area .sort-area-label {
  width: 20px;
  height: 100%;
  text-align: center;
  line-height: 28px;
}
.table-wrap .table-container .tableDiv .table tr td .sort-area .sort-area-label .lk-icon-arrowD,
.table-wrap .table-container .tableDiv .table tr th .sort-area .sort-area-label .lk-icon-arrowD {
  font-size: 12px;
  color: #dcdce3;
  margin-top: 5px;
}
.table-wrap .table-container .tableDiv .table tr td .sort-area .sort-area-ul,
.table-wrap .table-container .tableDiv .table tr th .sort-area .sort-area-ul {
  position: absolute;
  top: 100%;
  right: 0px;
  display: none;
}
.table-wrap .table-container .tableDiv .table tr td .sort-area:hover .sort-area-ul,
.table-wrap .table-container .tableDiv .table tr th .sort-area:hover .sort-area-ul {
  display: inline-block;
}
.table-wrap .table-container .tableDiv .table tr td .trangleUp,
.table-wrap .table-container .tableDiv .table tr th .trangleUp {
  top: 50%;
  margin-top: -6px;
}
.table-wrap .table-container .tableDiv .table tr td .trangleDown,
.table-wrap .table-container .tableDiv .table tr th .trangleDown {
  top: 50%;
  margin-top: -1px;
}
.table-wrap .table-container .tableDiv .table tr td:first-child,
.table-wrap .table-container .tableDiv .table tr th:first-child {
  padding-right: 8px;
}
.table-wrap .table-container .tableDiv .table tr th {
  color: #333333;
  font-size: 12px;
  position: relative;
  height: 23px;
  line-height: 23px;
  box-sizing: border-box;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  vertical-align: middle;
  background-color: #F3F3F3;
  padding-top: 2px;
  padding-bottom: 2px;
}
.table-wrap .table-container .tableDiv .table tr th:last-child {
  border-right: none;
}
.table-wrap .table-container .tableDiv .table tr th .th-cell {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: inline;
}
.table-wrap .table-container .tableDiv .table tr td {
  height: 28px;
  line-height: 28px;
  color: #666666;
  font-size: 12px;
  padding: 0px 8px;
  border-top: none;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  box-sizing: border-box;
}
.table-wrap .table-container .tableDiv .table tr td:last-child {
  border-right: none;
}
.table-wrap .table-container .tableDiv .table tr td .td-span {
  display: inline;
}
.table-wrap .table-container .tableDiv .table tr td .link-span {
  cursor: pointer;
  color: #488FE3;
  margin-right: 5px;
}
.table-wrap .table-container .tableDiv .table tr td .link-span:hover {
  text-decoration: underline;
}
.table-wrap .table-container .tableDiv .table tr td .link-span:last-child {
  margin-right: 0px;
}
.table-wrap .table-container .tableDiv .table tr td .blue-span {
  color: #488FE3;
}
.table-wrap .table-container .tableDiv .table tr td .red-span {
  color: #DB2028;
}
.table-wrap .table-container .tableDiv .table tr td .operate-span {
  position: absolute;
  left: 0px;
  background-color: #F0F8FF;
  transition-duration: 0.3s;
  width: 0px;
  overflow: hidden;
  cursor: pointer;
  z-index: 11;
  margin-left: 100px;
  text-align: center;
}
.table-wrap .table-container .tableDiv .table tr td .operate-span.operate-span-open .lk-icon-arrowD:before {
  display: inline-block;
  transition-duration: 0.5s;
  transform: rotate(180deg);
}
.table-wrap .table-container .tableDiv .table tr td.is-form-td {
  overflow: inherit;
}
.table-wrap .table-container .tableDiv .table tr td.is-form-td .td-span {
  display: block;
}
.table-wrap .table-container .tableDiv .table tr td.is-form-td .td-span .form-wrap {
  width: 100%;
}
.table-wrap .table-container .tableDiv .table tr td.is-form-td .td-span .form-wrap .form-control {
  width: 100%;
}
.table-wrap .table-container .tableDiv .table tr td.td-no-space {
  padding: 0px!important;
}
.table-wrap .table-container .tableDiv .table tr.tr-hover td .operate-span {
  margin-left: 0px;
  width: 100px!important;
}
.table-wrap .table-container .tableDiv .table tr:hover td {
  background-color: #fdeded;
}
.table-wrap .table-container .tableDiv .table tr.tr-click {
  background-color: #F3F3F6 !important;
}
.table-wrap .table-container .tableDiv .table.no-table-border {
  border-left: 0;
  border-right: 0;
}
.table-wrap .table-container .tableDiv .table.no-table-border tr th {
  cursor: pointer;
  vertical-align: middle;
}
.table-wrap .table-container .tableDiv .table.no-table-border tr th:last-child {
  border-right: none;
}
.table-wrap .table-container .tableDiv .table.no-table-border tr td {
  border: none;
}
.table-wrap .table-container .tableDiv.no-ellipsis tr td {
  text-overflow: inherit;
  white-space: inherit;
  overflow: auto;
}
.table-wrap .table-container .tableDiv.table-header tr {
  border-top: 1px solid #e5e5e5;
}
.table-wrap .table-container .tableDiv.table-header tr .sort-area {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  cursor: pointer;
}
.table-wrap .table-container .tableDiv.table-header tr .sort-area .sort-area-label {
  width: 20px;
  height: 100%;
  text-align: center;
  line-height: 28px;
}
.table-wrap .table-container .tableDiv.table-header tr .sort-area .sort-area-label .lk-icon-arrowD {
  font-size: 12px;
  color: #dcdce3;
  margin-top: 5px;
}
.table-wrap .table-container .tableDiv.table-header tr .sort-area .sort-area-ul {
  position: absolute;
  top: 100%;
  right: 0px;
  display: none;
}
.table-wrap .table-container .tableDiv.table-header tr .sort-area:hover .sort-area-ul {
  display: inline-block;
}
.table-wrap .table-container .tableDiv.table-filter {
  overflow: inherit;
  overflow-x: hidden;
}
.table-wrap .table-container .tableDiv.table-filter .table tr td {
  overflow: inherit;
}
.table-wrap .table-container .tableDiv.table-filter .table tr td .range-dropdown .dropdown-menu {
  padding: 15px;
}
.table-wrap .table-container .tableDiv.table-filter .table tr td .range-dropdown .dropdown-menu .range-div {
  margin-bottom: 10px;
}
.table-wrap .table-container .tableDiv.table-filter .table tr td .range-dropdown .dropdown-menu .range-div .range-label {
  margin: 0px 5px;
}
.table-wrap .table-container .table-hover tbody tr.tr-hover,
.table-wrap .table-container .table-hover tbody tr:nth-of-type(even).tr-hover {
  background-color: #fdeded;
}
.table-wrap .table-container .table-con-true {
  position: absolute!important;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}
.table-wrap .table-container .box-right-shadow {
  box-shadow: 6px 0 6px -4px rgba(0, 0, 0, 0.2);
}
.table-wrap .table-container .box-left-shadow {
  box-shadow: -6px 0 6px -4px rgba(0, 0, 0, 0.2);
}
.table-wrap .table-container .table-header {
  overflow: hidden;
}
.table-wrap .table-container .table-body {
  position: relative!important;
  background-color: #fff;
}
.table-wrap .table-container .table-header-columns-left {
  overflow: hidden;
}
.table-wrap .table-container .table-columns-left {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
}
.table-wrap .table-container .table-columns-left thead tr {
  border-top: 1px solid #e5e5e5;
}
.table-wrap .table-container .table-body-columns-left {
  overflow: hidden;
}
.table-wrap .table-container .table-header-columns-right {
  overflow: hidden;
}
.table-wrap .table-container .table-columns-right {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
  overflow: hidden;
  border-left: 1px solid #e5e5e5;
}
.table-wrap .table-container .table-columns-right thead tr {
  border-top: 1px solid #e5e5e5;
}
.table-wrap .table-container .table-body-columns-right {
  overflow: hidden;
}
.table-wrap .table-container .right-scroll {
  overflow-y: scroll;
}
