.tooltip.default-yellow-tooltip-box {
  z-index: 900;
}
.tooltip.default-yellow-tooltip-box.in {
  filter: alpha(opacity=100);
  opacity: 1;
}
.tooltip.default-yellow-tooltip-box.top .tooltip-background-arrow {
  margin-bottom: -1px;
  border-top-color: #F5D0BA;
}
.tooltip.default-yellow-tooltip-box.top .tooltip-content-arrow {
  border-top-color: #FFFBEA;
}
.tooltip.default-yellow-tooltip-box.bottom .tooltip-background-arrow {
  margin-top: -1px;
  border-bottom-color: #F5D0BA;
}
.tooltip.default-yellow-tooltip-box.bottom .tooltip-content-arrow {
  border-bottom-color: #FFFBEA;
}
.tooltip.default-yellow-tooltip-box.left .tooltip-background-arrow {
  margin-right: -1px;
  border-left-color: #F5D0BA;
}
.tooltip.default-yellow-tooltip-box.left .tooltip-content-arrow {
  border-left-color: #FFFBEA;
}
.tooltip.default-yellow-tooltip-box.right .tooltip-background-arrow {
  margin-left: -1px;
  border-right-color: #F5D0BA;
}
.tooltip.default-yellow-tooltip-box.right .tooltip-content-arrow {
  border-right-color: #FFFBEA;
}
.tooltip.default-yellow-tooltip-box .default-yellow-tooltip-inner {
  box-shadow: 0 0 8px 0 #F5D0BA;
  background-color: #FFFBEA;
  color: #333333;
  padding: 15px 10px;
  max-width: unset;
  text-align: left;
}
