@charset "UTF-8";
/**
 * 
 * @authors joyXie (xiec@linkstec.com)
 * @date    2018-03-29 15:30:13
 * @version 筛选条件
 */
/**
 * @Author WangZe (wangze@linkstec.com)
 * @Date 2018/2/26 11:39
 * @Function 全局变量
 **/
/**辅色**/
.fl {
  float: left;
}
.fr {
  float: right;
}
.select-conditions-wrap .noborder {
  border: none!important;
}
.select-conditions-wrap .selected-list-wrap {
  position: relative;
  border-bottom: 1px solid #DCDCDC;
  margin: 0px 20px;
}
.select-conditions-wrap .selected-list-wrap .selected-conditions-div {
  float: left;
  font-size: 12px;
  margin-top: 15px;
  overflow: hidden;
}
.select-conditions-wrap .selected-list-wrap .selected-conditions-div .selected-conditions-title {
  color: #999999;
  display: inline-block;
}
.select-conditions-wrap .selected-list-wrap .selected-conditions-div .clear-condotions-btn {
  display: inline-block;
  color: #1890FF;
  cursor: pointer;
}
.select-conditions-wrap .selected-list-wrap .selected-conditions-div .clear-condotions-btn:hover {
  text-decoration: underline;
}
.select-conditions-wrap .selected-list-wrap .selected-conditions {
  margin-left: 100px;
  margin-right: 150px;
  min-height: 45px;
  padding: 4px 0px;
  overflow: hidden;
}
.select-conditions-wrap .selected-list-wrap .selected-conditions .selected-conditions-ul .selected-conditions-item {
  border: 1px solid #C7C7D1;
  font-size: 12px;
  border-radius: 4px;
  margin-left: 10px;
  float: left;
  padding: 0px 5px;
  margin: 5px;
}
.select-conditions-wrap .selected-list-wrap .selected-conditions .selected-conditions-ul .selected-conditions-item .selected-conditions-name {
  color: #333333;
  margin-right: 5px;
  line-height: 24px;
}
.select-conditions-wrap .selected-list-wrap .selected-conditions .selected-conditions-ul .selected-conditions-item .lk-icon-close-o {
  color: #FB4240;
  font-size: 12px;
  cursor: pointer;
}
.select-conditions-wrap .selected-list-wrap .open-conditions-btn {
  position: absolute;
  right: 0px;
  top: 7px;
}
.select-conditions-wrap .selected-list-wrap .open-conditions-btn .btn .lk-icon-arrowD {
  color: #dcdce3;
  font-size: 14px;
}
.select-conditions-wrap .selected-list-wrap .open-conditions-btn .btn .lk-icon-arrowU {
  color: #dcdce3;
  font-size: 14px;
}
.select-conditions-wrap .to-select-conditions {
  overflow: hidden;
}
.select-conditions-wrap .to-select-conditions .first-conditions {
  width: 90px;
  float: left;
  background-color: #DBE0EB;
}
.select-conditions-wrap .to-select-conditions .first-conditions .first-conditions-ul .first-conditions-item {
  cursor: pointer;
  transition-duration: 0.2s;
}
.select-conditions-wrap .to-select-conditions .first-conditions .first-conditions-ul .first-conditions-item .first-conditions-name {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
}
.select-conditions-wrap .to-select-conditions .first-conditions .first-conditions-ul .first-conditions-item.tab-active {
  background-color: #ffffff;
}
.select-conditions-wrap .to-select-conditions .second-conditions {
  margin-left: 90px;
  padding: 10px;
  min-height: 150px;
}
.select-conditions-wrap .to-select-conditions .second-conditions .second-conditions-ul .second-conditions-item {
  overflow: hidden;
  font-size: 12px;
}
.select-conditions-wrap .to-select-conditions .second-conditions .second-conditions-ul .second-conditions-item .second-conditions-title {
  width: 80px;
  float: left;
  text-align: left;
  line-height: 30px;
}
.select-conditions-wrap .to-select-conditions .second-conditions .second-conditions-ul .second-conditions-item .third-conditions {
  margin-left: 70px;
}
.select-conditions-wrap .to-select-conditions .second-conditions .second-conditions-ul .second-conditions-item .third-conditions .third-conditions-ul {
  overflow: hidden;
}
.select-conditions-wrap .to-select-conditions .second-conditions .second-conditions-ul .second-conditions-item .third-conditions .third-conditions-ul li.third-conditions-item {
  float: left;
  margin: 3px 10px;
  padding: 3px 5px;
}
.select-conditions-wrap .to-select-conditions .second-conditions .second-conditions-ul .second-conditions-item .third-conditions .third-conditions-ul li.third-conditions-item .third-conditions-item-name {
  color: #333333;
  cursor: pointer;
}
.select-conditions-wrap .to-select-conditions .second-conditions .second-conditions-ul .second-conditions-item .third-conditions .third-conditions-ul li.third-conditions-item.selected-active {
  background-color: #E0F0FF;
}
.select-conditions-wrap .to-select-conditions .second-conditions .second-conditions-ul .second-conditions-item .third-conditions .third-conditions-ul li.third-conditions-item .insert-form {
  display: inline-block;
  vertical-align: middle;
}
.select-conditions-wrap .to-select-conditions .second-conditions .second-conditions-ul .second-conditions-item .third-conditions .third-conditions-ul li.third-conditions-item .insert-form .btn-blue {
  vertical-align: middle;
}
