.pagination-bar {
  overflow: hidden;
  width: 100%;
  height: 50px;
}
.pagination-bar .pagination-box {
  font-size: 12px;
  overflow: hidden;
  height: 50px;
  padding: 10px 0px;
}
.pagination-bar .pagination-box .deep-grey-text {
  color: #666666;
}
.pagination-bar .pagination-box .shallow-grey-text {
  color: #cccccc;
}
.pagination-bar .pagination-box .black-text {
  color: #333333;
}
.pagination-bar .pagination-box .blue-color {
  color: #4699EE;
}
.pagination-bar .pagination-box .grey-border {
  border: 1px solid #cccccc;
}
.pagination-bar .pagination-box .btn-bg {
  background-color: #ffffff;
}
.pagination-bar .pagination-box .fl {
  float: left;
}
.pagination-bar .pagination-box .text-v-center {
  line-height: 30px;
}
.pagination-bar .pagination-box .gap {
  margin-right: 12px;
}
.pagination-bar .pagination-box .big-gap {
  margin-right: 9px;
}
.pagination-bar .pagination-box .disabled,
.pagination-bar .pagination-box .pagination-btn.disabled {
  pointer-events: none;
  cursor: not-allowed;
  background-color: transparent;
  color: #999999;
  border-color: transparent;
}
.pagination-bar .pagination-box .no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */
}
.pagination-bar .pagination-box span {
  display: inline-block;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */
}
.pagination-bar .pagination-box .pagination-select {
  float: left;
  margin-right: 12px;
  background-size: 11px auto;
  background-repeat: no-repeat;
  background-position: right 6px center;
  text-shadow: none;
  color: #666666;
  margin-top: 3px;
  position: relative;
}
.pagination-bar .pagination-box .pagination-select select {
  border: 1px solid #cccccc;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 2px;
  padding: 0 23px 0 9px;
  line-height: 22px;
}
.pagination-bar .pagination-box .pagination-select:after,
.pagination-bar .pagination-box .pagination-select::after {
  position: absolute;
  display: inline-block;
  content: "";
  right: 9px;
  top: 50%;
  margin-top: -2px;
  vertical-align: 0;
  height: 7px;
  width: 7px;
  border-width: 1px 1px 0 0;
  border-color: #666;
  border-style: solid;
  transform: rotate(-45deg);
  pointer-events: none;
}
.pagination-bar .pagination-box .pagination-btn {
  color: #666666;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  margin-right: 12px;
  float: left;
  border-radius: 2px;
  line-height: 18px;
  padding: 2px 6px;
  cursor: pointer;
  font-size: 12px;
  height: 24px;
  margin-top: 3px;
  transition-duration: 0s;
}
.pagination-bar .pagination-box .pagination-list {
  float: left;
  display: inline-block;
  overflow: hidden;
  margin-top: 3px;
}
.pagination-bar .pagination-box .pagination-list .pagination-item-ellipsis {
  color: #666666;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */
  float: left;
  margin-right: 12px;
  line-height: 24px;
  font-size: 12px;
  transition-duration: 0s;
}
.pagination-bar .pagination-box .pagination-list .pagination-item {
  color: #666666;
  background-color: #ffffff;
  float: left;
  margin-right: 12px;
  border-radius: 2px;
  cursor: pointer;
  min-width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  padding: 0;
}
.pagination-bar .pagination-box .pagination-list .pagination-item.pagination-item-active {
  background-color: #ed4b4a;
  color: #fff;
  pointer-events: none;
  cursor: not-allowed;
}
.pagination-bar .pagination-box .pagination-input {
  float: left;
  margin-right: 12px;
  border: 1px solid #cccccc;
  width: 50px;
  height: 24px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 2px;
  color: #666666;
  margin-top: 3px;
}
