@charset "UTF-8";
/**
 * 
 * @authors joyXie (xiec@linkstec.com)
 * @date    2018-05-13 12:46:50
 * @version 圆形进度条
 */
.circle-progress {
  position: relative;
}
.circle-progress .circle-bg {
  position: absolute;
  top: 0px;
  left: 0px;
}
.circle-progress .circle-con {
  position: absolute;
  top: 0px;
  left: 0px;
}
.circle-progress .num-text {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 100%;
  font-size: 20px;
}
