@charset "UTF-8";
/**
 * 
 * @authors joyXie (xiec@linkstec.com)
 * @date    2018-03-28 14:58:35
 * @version 表单验证
 */
.form-wrap {
  position: relative;
}
.form-wrap .tooltip {
  top: 100%;
  left: 0px;
  opacity: 1;
  margin-top: 0px;
  z-index: 10;
}
.form-wrap .tooltip .tooltip-inner {
  padding: 5px 8px;
  background-color: #E96565;
  min-width: 57px;
  text-align: left;
}
.form-wrap .tooltip .tooltip-arrow {
  border-bottom-color: #E96565;
  left: 20%;
}
