@charset "UTF-8";
/**
 * 
 * @authors joyXie (xiec@linkstec.com)
 * @date    2018-03-07 11:37:02
 * @version 覆写浏览器的样式
 */

/*common*/

/***设置字体***/
/*@font-face {
  font-family: 'PingFang SC';
  src: url('../font/PingFang/PingFangMedium.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'PingFang SC';
  src: url('../font/PingFang/PingFangBold.ttf');
  font-weight: normal;
  font-style: normal;
}*/
*{margin:0;padding:0;border:0;font-style:normal;}
html,body,*{-webkit-touch-callout:none;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);font-family: "微软雅黑!important";}
body{color:#333;font-family:"微软雅黑","Microsoft YaHei","Arial","Helvitica","Verdana","Tohoma","san-serif";line-height: auto;font-size: 12px;}
body{margin: auto;background-color: #f5f5f5!important}
input,textarea,td,th,div,p{font-family:"微软雅黑","Microsoft YaHei","Arial","Helvitica","Verdana","Tohoma","san-serif";}
article,aside,details,hgroup,nav,span,em{display:inline-block;font-family:"微软雅黑","Microsoft YaHei","Arial","Helvitica","Verdana","Tohoma","san-serif";}
footer,header,section,dialog,menu,a,label,strong,var,del,time,figcaption,figure,pre,img,small,mark,cite,code,fieldset,button,li{display:block;font-family:"微软雅黑","Microsoft YaHei","Arial","Helvitica","Verdana","Tohoma","san-serif";}

li{list-style: none!important;}
a,a:hover,a:visited{text-decoration:none;}
ol,ul{list-style:none;margin: 0px}
:focus{outline:none;}
img{max-width:100%;width:100%;vertical-align:middle;display:inline-block;}
textarea{overflow:auto;resize:none;}
/*input,button,textarea,select,:checked{border:0;	margin:0;padding:0;background-color:rgba(0,0,0,0);text-shadow:none;border-radius:0;font-family:"微软雅黑","Microsoft YaHei","Arial","Helvitica","Verdana","Tohoma","san-serif";}*/
/*select{appearance:none;-moz-appearance:none;-webkit-appearance:none;border:1px solid #cccccc;background-image: url('../img/xialajiantou.png');background-size: 15px auto;background-repeat: no-repeat;background-position: right 8px center;padding: 5px;padding-right: 25px}*/
pre{overflow:hidden;word-break:break-all;word-wrap:break-word;}
table{width:100%;margin:0;padding:0;}

::-webkit-input-placeholder {color:#ccc;}
:-moz-placeholder {color:#ccc;}
::-moz-placeholder {color:#ccc;}
:-ms-input-placeholder {color:#ccc;}

::-webkit-scrollbar{width: 8px;    background-color: rgba(0,0,0,0);
    height: 8px;}
::-webkit-scrollbar-thumb{     background-color: rgba(0,0,0,.2);
    border-radius: 8px;}
::-webkit-scrollbar-thumb:active, ::-webkit-scrollbar-thumb:hover{    background-color: rgba(0,0,0,.4);}


/*!*输入框*!*/
/*.form-control:focus{*/
    /*border-color: #ea7272;*/
    /*outline: 0;*/
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(234,114,114,.6);*/
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(234,114,114,.6);*/
/*}*/
/*下拉按钮*/
/*.open>.dropdown-toggle.btn-default{*/
    /*border-color: #ea7272;*/
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(234,114,114,.6);*/
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(234,114,114,.6);*/
/*}*/
/*.open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{*/
    /*border-color: #ea7272;*/
/*}*/
/*下拉框*/
.bootstrap-select .dropdown-menu>.active>a, .bootstrap-select .dropdown-menu>.active>a:focus, .bootstrap-select .dropdown-menu>.active>a:hover{
    background-color: #ffeaea;
}
.bootstrap-select .dropdown-menu>li>a:focus, .bootstrap-select .dropdown-menu>li>a:hover{
    background-color: #ffeaea;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default{
    background-color: #ffffff;
}
/*dialog下面按钮*/
.ui-dialog-footer button.ui-dialog-autofocus:hover, .ui-dialog-footer button.ui-dialog-autofocus:focus, .ui-dialog-footer button.ui-dialog-autofocus:active{
    background-color: #ED4B4A;
    border-color: #ED4B4A;
    outline: none;
}
.ui-dialog-footer button.ui-dialog-autofocus{
    background-color: #ED4B4A;
    border-color: #ED4B4A;
}