@charset "UTF-8";
/**
 * 
 * @authors weizf (weizf@linkstec.com)
 * @date    2018-11-21 15:35:46
 * @version $Id$
 */
.message-Audit-container .modal-header .mac-title-text {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #666666;
}
.message-Audit-container .modal-body .mac-bottom-border {
  border-bottom: 1px dashed #EEEEEE;
  padding-bottom: 20px;
}
.message-Audit-container .modal-body .mac-top-space {
  margin-top: 14px;
}
.message-Audit-container .modal-body .mac-body .mac-img {
  margin: 0px 10px 0 0;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../../img/mot/guanlian_icon.png");
  background-size: 100% 100%;
  vertical-align: middle;
}
.message-Audit-container .modal-body .mac-body .mac-option-title {
  margin-bottom: 20px;
}
.message-Audit-container .modal-body .mac-body .mac-option-title .mac-option-title-text {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #666666;
}
.message-Audit-container .modal-body .mac-body .mac-option {
  margin-right: 10px;
  display: inline-block;
}
.message-Audit-container .modal-body .mac-body .mac-option .mac-option-text {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #555555;
  letter-spacing: 0.22px;
  margin-right: 5px;
}
.message-Audit-container .modal-body .mac-body .mac-option .mac-date-bl {
  width: 133px;
}
.message-Audit-container .modal-body .mac-body .mac-option .mac-input-control {
  width: 100%;
}
.message-Audit-container .modal-body .mac-body .mac-option .mac-input-bl {
  width: 116px;
}
.message-Audit-container .modal-footer .mac-btn {
  width: 100px;
}
