.mot-deal-modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 12px;
  right: 12px;
  font-size: 14px;
  box-shadow: 0 0 0.36rem 1px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 3px;
}
.mot-deal-modal .deal-service-row {
  background-color: #fdeded;
  height: 35px;
  line-height: 35px;
  padding-left: 30px;
}
.mot-deal-modal .deal-modal-title {
  font-size: 18px;
  text-align: center;
  line-height: 54px;
}
.mot-deal-modal .deal-modal-foot {
  margin: 12px 0;
}
.mot-deal-modal .deal-modal-content {
  overflow-y: auto;
}
.mot-deal-modal .deal-modal-content .deal-info-section {
  padding: 25px 0;
  margin: 0 30px;
  border-bottom: 1px dashed #d7d7d7;
}
.mot-deal-modal .deal-modal-content .deal-info-section:last-child {
  border-bottom: 0;
}
.mot-deal-modal .deal-modal-content .deal-info-section .info-section-title {
  line-height: 14px;
  font-size: 14px;
  padding-left: 10px;
  border-left: 3px solid #ed4b4a;
  margin-bottom: 12px;
}
.mot-deal-modal .deal-modal-content .deal-info-section .info-section-title .info-section-subtitle {
  font-size: 12px;
  color: #999999;
}
.mot-deal-modal .deal-modal-content .deal-info-section .info-row {
  color: #666666;
  line-height: 2;
  padding-left: 13px;
  word-break: break-all;
}
.mot-deal-modal .deal-modal-content .deal-info-section .info-btn-list {
  padding: 10px 0;
}
.mot-deal-modal .deal-modal-content .deal-info-section .info-btn-list .info-btn-item {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  width: 65px;
  border-right: 1px solid #e3e3e3;
  cursor: pointer;
}
.mot-deal-modal .deal-modal-content .deal-info-section .info-btn-list .info-btn-item:last-child {
  border-right: 0;
}
.mot-deal-modal .deal-modal-content .deal-info-section .info-content-box {
  border: 1px solid #ced4da;
}
.mot-deal-modal .deal-modal-content .deal-info-section .info-content-box .info-content-title {
  background-color: #fafafa;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 12px;
  border-bottom: 1px solid #ced4da;
}
.mot-deal-modal .deal-modal-content .deal-info-section .info-content-box .info-content-container {
  padding: 12px;
  font-size: 12px;
  color: #666666;
}
.mot-deal-modal .deal-modal-content .deal-info-section .info-content-box .info-content-container .check-deal-item {
  margin: 6px 0;
  display: block;
}
.mot-deal-modal .deal-modal-content .deal-info-section .info-content-box .info-content-container .check-deal-item .checkbox-lable {
  position: relative;
  cursor: pointer;
}
.mot-deal-modal .deal-modal-content .deal-info-section .info-content-box .info-content-container .check-deal-item .checkbox-lable .deal-checkbox {
  position: absolute;
  left: 0;
  top: 2px;
}
.mot-deal-modal .deal-modal-content .deal-info-section .info-content-box .info-content-container .check-deal-item .checkbox-lable .check-deal-item-text {
  padding-left: 20px;
  line-height: 18px;
}
.mot-deal-modal .deal-modal-content .deal-info-section .info-content-other {
  color: #666666;
  padding-left: 13px;
  padding-top: 12px;
}
.mot-deal-modal .deal-modal-content .deal-info-section .info-content-other .info-content-other-title {
  font-size: 14px;
  margin: 6px 0;
}
.mot-deal-modal .deal-modal-content .deal-info-section .info-content-other .info-content-other-row {
  font-size: 12px;
  margin: 6px 0;
}
.mot-deal-modal .deal-modal-content .deal-info-section .info-content-other .info-content-other-row .other-row-check-item {
  width: 50%;
  margin-right: 0;
}
.mot-deal-modal .deal-modal-content .deal-info-section .cust-list-box {
  width: 100%;
  height: 200px;
  border: 1px solid #ced4da;
  overflow-y: auto;
}
.mot-deal-modal .deal-modal-content .deal-info-section .cust-list-box .cust-check-list {
  padding: 5px 0;
}
.mot-deal-modal .deal-modal-content .deal-info-section .cust-list-box .cust-check-list .cust-check-item {
  float: left;
  margin: 3px 10px;
}
.mot-deal-modal .deal-modal-content .deal-info-section .cust-list-box .cust-check-list .cust-check-item .checkbox-lable {
  position: relative;
  cursor: pointer;
}
.mot-deal-modal .deal-modal-content .deal-info-section .cust-list-box .cust-check-list .cust-check-item .checkbox-lable .deal-checkbox {
  position: absolute;
  left: 0;
  top: 2px;
}
.mot-deal-modal .deal-modal-content .deal-info-section .cust-list-box .cust-check-list .cust-check-item .checkbox-lable .check-deal-item-text {
  padding-left: 20px;
  line-height: 18px;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
